.shadow-box{
    display: block;
    background-color: rgba(0, 0, 0, 0.171);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 6em 2em;
    h3{
        color: white;
        text-align: center;
    }
}