.settings-cover{
    .settings-box{
        border: 1px solid #F0F2F5;
        padding: 1.2em;
        border-radius: 10px;

        .profile-image-box{
            display: flex;
            padding-bottom: 1.2em;
            border-bottom: 1px solid #E4E7EC;
            margin-bottom: 1.2em;

        }
        .personal-info-box{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.change-photo-button{
    border: 1.5px solid #145B7A;
    border-radius: 10px;
    background-color: white;
    color: #145B7A;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.profile-image-holder{
    position: relative;

}
.tab-buttons{
    margin-bottom: 2em;
    button{
        display: inline-block;
        border: 1px solid #E4E7EC;
        color: #1D2739;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        outline: none;
        background-color: white;
        padding: 1.2em;
        transition: 0.5s;
        &.active{
            background-color: #F0F2F5;
            color: #145B7A;
        }
        &:hover{
            background-color: #F0F2F5;
            color: #145B7A;
        }
        &:nth-child(1){
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        &:last-child{
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        
    }
}