.side-layout-cover{
    display: flex;
    flex-direction: row;
    width: 100%;
    .side-bar{
        width: 270px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1.2em 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        gap: 2em;
        border-right: 1px solid #E4E7EC;
        .side-bar-brand{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            button{
                width: 25px;
                height: 25px;
                border-radius: 13px;
                color: white;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                display: none;
                
            }
        }
        .top-nav{
            border-bottom: 1px solid  #F0F2F5;
            padding: 1.2em 0;
        }
        .side-nav-link{
            display: block;
            text-decoration: none;
            display: flex;
            gap: 20px;
            padding: 1em 1.2em;
            border-radius: 10px;
            transition: 0.5s;
            color: #1E1E1E;
            font-size: 1em;
            line-height: 23.2px;
            span > *{
                font-size: 1.2em;
            }
            &:hover{
                background: #D0DEE4;
                border: 1px solid #D0DEE4;

                *{
                    color: #145B7A;
                }
            }
        }
        .side-profile-nav-link{
            display: block;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            padding: 1.2em;
            gap: 1em;
            background-color: #145B7A;
            margin: 10px 0;
            color: white;
            border-radius: 10px;
        }
        &.alt{
            background-color: #145B7A;
            .side-nav-link{
                color: white;
                &:hover{
                    background: #FFFFFF;
                    border: 1px solid #FFFFFF;
                }
            }
        }
    }
    .side-nav-toggle{
        background: none;
        display: none;
    }
    .side-layout-content{
        padding: 1.2em 3em;
        background: #FEFEFE;
        flex-grow: 1;
    }
}

@media screen and (max-width: 600px){
    .side-layout-cover{
        .side-bar{
            width: 0px;
            padding: 0;
            overflow-x: hidden;
            .side-bar-brand{
                button{
                    display: flex;
                }
            }
        }
        .side-bar.show{
            width: 80%;
            height: 100vh;
            overflow-x: hidden;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;

        }
        .side-nav-toggle{
            display: inline-block;
        }
        .side-layout-content{
            padding: 1em;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
    
}